<br />
<label for="filterText" class="form-label">Renk Ara</label>
<div class="mb-3">
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
    placeholder="Arama ifadesi giriniz." />
</div>

<div *ngIf="filterText.length > 2" class="alert alert-success">
  {{ filterText }} aradınız.
</div>

<thead style="font-size: x-large">
  COLORS
</thead>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th></th>
      <th>
        <button type="button" class="btn btn-outline-success" routerLink="/colors/add">
          Renk Ekle
        </button>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let color of colors | colorFilter : filterText">
      <td>{{ color.id }}</td>
      <td>{{ color.name }}</td>
      <td>
        <form class="container-fluid justify-content-start">
          <button class="btn btn-outline-warning me-2" type="button" data-bs-toggle="modal"
            data-bs-target="#updateColor" (click)="setCurrentColor(color)">
            Güncelle
          </button>
          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteColor"
            (click)="setCurrentColor(color)">
            Sil
          </button>
        </form>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="updateColor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="updateColorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateColorLabel">Güncelle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateColorForm">
          <label for="colorName" class="col-4 col-form-label">Name</label>
          <div class="form-group row mb-2">
            <div class="col-12">
              <input type="text" class="form-control" formControlName="name"
                value="{{ currentColor ? currentColor.name : '' }}" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          İptal
        </button>
        <button type="button" class="btn btn-primary" (click)="updateColor()">
          Güncelle
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteColor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="deleteColorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteColorLabel">Sil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          İptal
        </button>
        <button type="button" class="btn btn-primary" (click)="deleteColor()">
          Sil
        </button>
      </div>
    </div>
  </div>
</div>
