<body>
  <main>
    <div
      class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"
    >
    <!-- <p class="lead fw-normal"><strong>NOT</strong></p>
    <p class="lead fw-normal">+ Arabalar, Araba Detayları, Renkler, Markalar, Kiralamalar Bölümleri eklendi.</p>
    <p class="lead fw-normal">+ Kullanıcı Bölümü (Giriş / Çıkış ve Kayıt) eklendi.</p>
    <p class="lead fw-normal">+ Kullanıcı fotoğrafı eklendi (varsayılan olarak default.jpg ayarlandı)</p> 
    <p class="lead fw-normal">- kullanıcı kendi fotoğraf ekleyebilecek </p>
    <p class="lead fw-normal">- Kiralama Sistemi eklenecek </p>
    <p class="lead fw-normal">- Kredi kartı ödeme sistemi eklenecek </p>
    <p class="lead fw-normal">- Ana Sayfa ve kullanıcı arayüzleri güncellenecek</p>  -->
    <p class="lead fw-normal">YAKINDA</p> 

      <div class="col-md-5 p-lg-5 mx-auto my-5">   
      </div>

    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div
        class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"
      >
        <div class="my-3 py-3">
          <h2 class="display-5">Yakında..</h2>
          <p class="lead"></p>
        </div>
        <div
          class="bg-light shadow-sm mx-auto"
          style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
        ></div>
      </div>
      <div
        class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
      >
        <div class="my-3 p-3">
          <h2 class="display-5">Yakında..</h2>
          <p class="lead"></p>
        </div>
        <div
          class="bg-dark shadow-sm mx-auto"
          style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
        ></div>
      </div>
    </div>

  </main>

  
  <script
    src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"
  ></script>
</body>